body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100%;

}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.main-page-wrapper {

    background: url(img/1.png) center top no-repeat, url(img/2.png) center bottom no-repeat, #001821;
}

.header {
    position: relative;
    padding: 40px 0 40px 0;
    display: flex;
    justify-content: space-between;
}

.header__col {
    display: flex;
    align-items: center;
}

.header__col--align--right {
    justify-content: flex-end;
}

.logo {
    display: block;
    width: 85px;
    height: 36px;
    margin-right: 79px;


}

.menu {
    display: inline-block;
    vertical-align: middle;

}


.contacts {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
}

.menu__list {
    display: inline-block;
}

.menu__title {
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 50px;
}

.menu__title:hover {
    color: #DA0100;
}

.contacts__phone {
    font-size: 26px;
    text-decoration: none;
    color: #FFFFFF;
    text-transform: none;
    font-style: normal;
}

.contacts__workhours {
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration-line: underline;
    font-style: normal;
    position: relative;
}

.headline__text {
    font-weight: bold;
    font-size: 72px;
    line-height: 98px;
    width: 550px;
    margin-bottom: 28px;
}

.headline__slogan {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    align-items: center;
    margin-bottom: 33px;
}

.headline {
    color: #ffffff;
    margin-bottom: 246px;
}

.button {
    padding: 18px 40px;
    border-radius: 35px;
    font-family: Open Sans, Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    line-height: 19px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

.button__details {
    background: #F5170E;
}

.button__clear {
    background: #8E8E8E;
    border: none;
}

.button__clear:hover {
    cursor: pointer;
    background: #2B2B2B;
}

.button__send {
    background: #F5170E;
    border: none;
    cursor: pointer;
}


.button__details--service:hover {
    background: #FFFFFF;
    color: red;
    border: 1px solid #F5170E;
}

.button_watch {
    border: 1px solid #F5170E;
    box-sizing: border-box;
    border-radius: 35px;
    color: red;
}

.button_watch:hover {
    background: red;
    color: #FFFFFF;
}

.main-content {
    margin-bottom: 127px;
}

.main-content__text {
    color: #FFFFFF;
    margin-bottom: 51px;
}

.title {
    font-family: Open Sans, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
}

.main-content__text::after {
    content: "";
    display: inline-block;
    width: 21px;
    height: 26px;
    background-image: url(img/flame.png);
    margin-left: 12px;
}

.offers {
    display: flex;
    justify-content: space-between;
}

.offer-item {
    /* display: inline-block; */
    vertical-align: top;
    width: calc(100% / 3 - 17px);
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
    /* margin-right: 15px; */
}

.offer-item:last-child {
    margin-right: 0;
}

.offer-item__desc {
    padding: 30px;
    font-family: Open Sans, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
}

.offer-item__conditions-item {
    display: inline-block;
    color: #303030;
    font-family: Open Sans;
}

.offer-item__icon {
    display: inline-block;
    margin-right: 10px;
}

.offer-item__text {
    display: inline-block;
    margin-bottom: 25px;
    line-height: 21px;
    margin-right: 28px;
}

.offer-item__subtitle {
    margin: 25px 0 20px 0px;
    font-family: Open Sans, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    margin-top: 0px;
}

.news {
    color: #FFFFFF;
}

.news__headline {
    margin-bottom: 51px;
}

.news-list {
    display: flex;
    margin-bottom: 55px;
}

.news-item {
    width: 550px;
    display: flex;
    /* vertical-align: top; */
    position: relative;
    border-radius: 5px;
    margin-right: 25px;
}

.news-item:last-child {
    margin-right: 0px;
}

.news__text--content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 25px 30px;
    min-height: 120px;
}

.news__date {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 21px;
}

.news__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 3px;
}

.news__slogan {
    font-size: 16px;
    line-height: 21px;
}

.paginator {
    margin-bottom: 153px;
    font-family: Open Sans, Helvetica, Arial, sans-serif;
    text-align: center;
    color: #FFFFFF;
}

.paginator__display,
.paginator__list {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.paginator__display {
    margin-right: 26px;

}

.paginator__item {
    display: flex;
    align-items: center;
    text-align: center;
}

.paginator__item--active .paginator__link {
    background: #FFFFFF;
    color: red;
}

.paginator__link:hover {
    background: #FFFFFF;
    color: red;
}




.paginator__link {
    display: block;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 21px;
    font-size: 16px;


}

.about::before {
    content: "";
    display: block;
    /* display: inline-block;
    vertical-align: top; */
    width: 490px;
    height: 505px;
    /* position: absolute; */
    left: 0px;
    top: 0px;
    background: url(img/gates.png) center center / cover no-repeat;
}

.about {
    color: black;
    border-radius: 5px;
    padding: 0 0 55px 0;
    text-align: right;
    /* position: relative; */
    display: flex;
}

p {
    margin-bottom: 43px;
}

.about__desc {
    background: url(img/mountains.png);
    display: inline-block;
    vertical-align: top;
    max-width: 785px;
    min-height: 455px;
    margin-left: -141px;
    margin-top: 95px;
    position: relative;
    text-align: left;
    padding: 70px 202px 37px 81px;
    box-sizing: border-box;

}

.about__title {
    font-size: 36px;
    font-weight: bold;
    font-family: Open Sans, Helvetica, Arial, sans-serif;
    margin-bottom: 40px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    line-height: 49px;
}

.about__desc-text {
    font-family: Open Sans, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;

}

.footer {
    padding: 55px 0 58px 0;
    vertical-align: bottom;
    border-top: 4px solid hsla(0, 0%, 100%, 0.10);
    

}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__col {
    display: flex;
    align-items: center;
}

.footer__col--align--right {
    align-items: flex-end;
    justify-content: flex-end;
}

.contacts__footer {
    text-align: right;
}

.contacts__call {
    color: #9A9A9A;

}

.socials {
    vertical-align: bottom;
    margin-right: 74px;
}

.socials__item--icon {
    text-decoration: none;
    display: inline-flex;
    margin-right: 10px;
    opacity: 70%;
}

.socials__item--icon:hover {
    opacity: 100%;
}

.socials__item--icon:last-child {
    margin-right: 0;
}

/* СТРАНИЦА УСЛУГИ */

.services-wrapper {
    background-color: #FFFFFF;
}

.container__top-line {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-line {
    padding: 0 0 24px 0;
    margin-bottom: 98px;
    min-height: 420px;
    display: flex;
    flex-direction: column;
    background: url(./img/Services/headline\ 1.png) center top no-repeat
}


.page-title {
    font-size: 72px;
    line-height: 98px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 100px;
    color: #FFFFFF;

}

.breadcrumbs {
    display: flex;
    align-items: center;
}

.breadcrumbs__item {
    display: inline-flex;
}

.breadcrumbs__item--active .breadcrumbs__link {
    font-weight: bold;
}

.breadcrumbs__item::after {
    content: '/';
    color: #9a9a9a;
}

.breadcrumbs__item:last-child::after {
    display: none;
}

.breadcrumbs__link {
    font-size: 14px;
    line-height: 19px;
    color: #9a9a9a;
}



.page-services {
    color: #303030;
    display: flex;
    margin-bottom: 70px;
}

.service {
    display: flex;
}

.service__item {
    margin-bottom: 49px;
}

.service-img {
    width: 460px;
    margin-right: 56px;
}



.sercice__headline {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 28px;
}

.service__text {
    font-size: 16px;
    line-height: 27px;
}

.service__content {
    flex: 1;
}

.paginator__service {
    margin-bottom: 0px;
}

.paginator__display--black {
    color: black;
}

.paginator__link--black {
    color: black;
}

.paginator__link--black:hover {
    color: #FFFFFF;
    background: red;
}

.paginator__item--black--active .paginator__link--black {
    color: #FFFFFF;
    background: red;
}



.inner-section {
    background: #f2f2f2;
    color: #1A1B1E;
}

.inner_section--bg--grey {
    background: #F4F5F5;
    padding: 90px 0 117px 0;
}

.inner-section__title {
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 90px;
}

.partners {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.partners__link {
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 250px;
    height: 60px;
    justify-content: center;
    filter: grayscale(100%);
    margin-bottom: 88px;
}

.partners__link:hover {
    filter: grayscale(0);
}

.partners__item {
    display: flex;
    align-items: center;


}

.partners__item:nth-child(4п + 1) {
    margin-left: 0;
}

.inner-footer {
    background: #001821;
    padding: 40px 0 40px 0;
}


/* Приветственная страница */

.container-background {
    
    background: url(/img/Start/bg.png) no-repeat;  
    min-height: 960px;
    display: flex;
    align-items: center;
    text-align: center;
}

.start {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.open {
    color: #FFFFFF;
    margin-bottom: 52px;
    animation-name: booM 5s;
}

.start-logo {
    margin-bottom: 20px;
}

.button__details--start:hover {
    background: #DA0100;
}

.contact__link {
    text-decoration: none;
    font-size: 13px;
    color: #FFFFFF;
}

.contact__drop {
    background-color: #CDD1D2;
    opacity: 0;
    border-radius: 4px;
    padding: 16px 20px;
    width: 140px;
    margin-top: 15px;
    position: absolute;
    color: black;
    text-align: left;
    right: 0;
    pointer-events: none;
}

.contact__drop::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 11px solid transparent;
    border-top-width: 0;
    position: absolute;
    bottom: 100%;
    right: 40px;
    border-bottom-color: #CDD1D2;
}

.contact__drop::after {
    content: "";
    display: block;
    width: 100%;
    height: 15px;
    position: absolute;
    bottom: 100%;
    right: 0;
}

.contacts__workhours:hover .contact__drop {
    opacity: 0.8;
    pointer-events: visible;
}

.contact_item {
    font-size: 13px;
    background: #1E1F20;
}

.contact__item__bold {
    font-weight: bold;
}





/* ОТЗЫВЫ */


.reviews {
    column-count: 2;
    column-gap: 30px;
    margin-bottom: 76px;
}

.review {
    display: inline-flex;
    flex-direction: column;
    padding: 50px 30px;
    background: #F4F5F5;

}

.review__item {
    margin-bottom: 20px;
}

.review__header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.review__user {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #2E77A4;
    font-weight: bold;
    margin-bottom: 10px;
}

.review__user::after {
    content: url(./img/Reviews/vk-blue\ 1.png);
    height: 30px;

}

.avatar {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
}

.review__tag {
    display: flex;
    align-items: flex-start;
}

.tag {
    font-size: 13px;
    color: #303030;
    padding: 9px 18px;
    border-radius: 50px;
    background: #E7E7E7;
}

.tag--bg--green {
    background: #B9EAE4;
}

.review__title {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
    color: #1A1B1E;
}

.review__content--text {
    margin-bottom: 50px;
    font-size: 16px;
    color: #818181;
}

.review__date {
    color: #1A1B1E;
    font-size: 14px;
    font-weight: 600;
}

.separator {
    background: url(./img/Reviews/couple.png) no-repeat  1000px, url(./img/Reviews/Rectangle.png) center no-repeat;
    min-height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFFFFF;
}

.seporator__content {
    max-width: 53%;
}

.seporator__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    
}


.form__row {
    display: flex;
    margin-bottom: 30px;
}

.form__controls {
    display: flex;
}

.form__controls--title {
    width: 40%;
    padding-left: 30px;
}

.controls {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.controls__item {
    margin-bottom: 10px;
    margin-right: 10px;
}

.form__input {
    flex: 1;
    margin-right: 30px;
    border-radius: 4px;
    border: none;
    background: #FFFFFF;
    padding: 30px 22px;
    font-size: 18px;
    color: #1A1B1E;

}

.form__input::placeholder {
    color: #666;
}

.form__input:last-child {
    margin-right: 0px;
}

.form__input--texteria {
    height: 235px;
}

.controls__elem {
    cursor: pointer;
}

.controls__checkbox:checked ~ .controls__tag {
    background: #B9EAE4;
}

.controls__checkbox {
    display: none;
}

.form__btn {
    margin-right: 17px;
}

.form__btn:last-child {
    margin-right: 0;
}

.form__button {
    display: flex;
    justify-content: flex-end;
}