body {
    font-family:'Open Sans', Arial, Helvetica, sans-serif;
    margin: 0;
    letter-spacing: 0.1em;
    background-color: #001821;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
p {
    margin: 0;
    padding: 0 0 30px 0;
}
* {
    box-sizing: border-box;
}
.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}
.header.header.container{
    position: relative;
    padding: 57px 0 0 0;
}
.logo, .menu, .contacts, {
    width: 32%;
}
.logo {
    display: inline-block;
    vertical-align: middle;
}

.menu {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}


.contacts {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
}

.menu__list{
    display: inline-block;
}
.menu__title {
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 50px;
}
.menu__title:hover {
    color: #DA0100
    ;
}
.contacts__phone {
    font-size: 26px;
    line-height: 35px;
    text-decoration: none;
    color: #FFFFFF;
    text-transform: none;
    font-style: normal;
}
.contacts__workhours {
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration-line: underline;
    font-style: normal;
}
.headline__text {
    font-weight: bold;
    font-size: 72px;
    line-height: 98px;
    width: 550px;
    margin-bottom: 18px;
}
.headline__slogan {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    align-items: center;
    padding: 27.5px 0px 33px 0px;
}
.headline {
    color: #ffffff;
    padding: 130px 0 230px;
}
.button {
    padding: 18px 40px;
    border-radius: 35px;
    font-family: Open Sans, Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-align:center;
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    line-height: 19px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}
.button__details{
background: #F5170E;
}
.button_watch{
    border: 1px solid #F5170E;
    box-sizing: border-box;
    border-radius: 35px;
    color: red;
}
.button_watch:hover {
    background: red;
    color: #FFFFFF;
}
.main-content__text{
    font-family: Open Sans, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #FFFFFF;
    padding: 49px 0px 51px;
}
.offer-item {
    display: inline-block;
    vertical-align: top;
    width: 362px;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
    margin-right: 14px;
}
.offer-item__desc {
    padding: 30px;
    font-family: Open Sans, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}
.offer-item__conditions-item {
    display: inline-block;
    color: #303030; 
    font-family: Open Sans;
}
.offer-item__icon {
    display: inline-block;
}
.offer-item__text {
    display: inline-block;
    margin-bottom: 25px;
    line-height: 21px;
}
.offer-item__subtitle {
    margin: 25px 0 20px 0px;
    font-family: Open Sans, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
}
.news__headline{
    font-family: Open Sans, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #FFFFFF;
    padding: 127px 0px 51px 0px;
}
.news-item {
    width: 555px;
    vertical-align: top;
    border-radius: 5px 5px 5px 5px;
    margin-right: 14px;
    color: #FFFFFF;
    display: inline-block;
}
.paginator {
    font-family: Open Sans, Helvetica, Arial, sans-serif;
    padding: 50px 0 150px;
    text-align: center;
    color: #FFFFFF
    

}
.paginator__display, .paginator__list {
    display: inline-block;
    vertical-align: middle;
}
.paginator__display {
    margin-right: 26px;

}
.paginator__item {
    display: inline-block;
}
.paginator__item--active .paginator__link {
    background: #FFFFFF;
    color: red;
}
.paginator__link:hover {
    background: #FFFFFF;
    color: red;
}
.paginator__link {
    display: inline-block;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 21px;
    font-size: 16px;
    margin: 0 24px;
}
.about::before {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 490px;
    height: 505px;
    background: url(img/gates.png) center center / cover no-repeat;
}
.about {
    color: black;
    border-radius: 5px;
}
.about__desc {
    background: url(img/mountains.png);
    display: inline-block;
    vertical-align: top;
    width: 785px;
    height: 455px;
    margin-left: -141px;
    margin-top: 95px;

}
.about__title{
    font-size: 36px;
    font-weight: bold;
    font-family: Open Sans, Helvetica, Arial, sans-serif;
    margin-bottom: 40px;
    padding: 70px 0 37px 81px;    
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    line-height: 49px;
}
.about__desc-text {
    margin-bottom: 42px;
    font-family: Open Sans, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    padding: 0 202px 0 81px;
}
.footer .container{
    position: relative;
    display: inline-block;
    padding: 55px 0;
}
.contacts__call {
    color: #9A9A9A;
}
.socials {
    display: inline-block;
}
.main-page-wrapper {
    background: url(./img/1.png) center top no-repeat, url(./img/2.png) center bottom no-repeat;
}